---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 ERROR">
	<p class="Text">404 ERROR</p>
</Layout>

<style>
		.Text {
        position: relative;
        font-size: xx-large;
        top: 10rem;
        text-align: center;
        }
</style>