---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Higher Gaming">
	<p class="Text">Higher Gaming is a newly established competitive esport team based in germany that will be participating in various mobile esports titles, currently having rosters for Clash Royale and Brawl Stars. <br> 
        With our world class players and experienced staff we are looking to set our name in each scene we enter. <br> As Higher Gaming, we believe in esports, therefore we are working with our well-known players and content creators to help them grow and in return spread our brand name to the millions.</p>
</Layout>

<style>
	.Text {
        position: relative;
        font-size: medium;
        top: 10rem;
        text-align: center;
    }
</style>