---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Teams">
	<form style="position: relative; top: 200px;">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</Layout>

<style>
		.Text {
        position: relative;
        font-size: xx-large;
        top: 10rem;
        text-align: center;
        }
</style>
