---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Teams">
        <div class="pos">
            <h1 style="position: relative; top:130px; text-align: center;">SPONSORSHIP PROGRAM</h1>
            <hr class="solid1">
            <hr class="solid2">
        </div>

        <div style="position: relative; top: 180px; display: flex; justify-content: space-around; align-items: center;">
            <img src="./Badges/Silver.png" alt="Silver Badge" style="position: relative; top: 10px;" width="119" height="145">
            <img src="./Badges/Gold.png" alt="Gold Badge" width="148" height="137">
            <img src="./Badges/Platinum.png" alt="Platinum Badge" width="162" height="150">
        </div>

        <div style="position: relative; top: 180px; display: flex; justify-content: space-around; text-align: center;">
            <h2>Silver Member</h2>
            <h2>Gold Member</h2>
            <h2>Platinum Member</h2>
        </div>

        <div style="position: relative; top: 180px; display: flex; justify-content: space-around; right: 46px;">
            <h2>$100-$500</h2>
            <h2>$500-$1500</h2>
            <h2>+$1500</h2>
        </div>

        <div style="position: relative; top: 200px; display: flex; justify-content: space-around;">
            <p>Description</p>
            <p>Description</p>
            <p>Description</p>
        </div>

        <div style="position: relative; top: 300px; text-align: center; font-size: small;">
            <h1>Ready To Join Higher Gaming?</h1>
        </div>

<!--     <form style="position: relative; top: 200px;">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form> -->
</Layout>

<style>
        .pos {
            position: relative;
            top: 20px;
        }
        hr.solid1 {
            position: relative;
            top: 105px;
            left: 335px;
            border-top: 1px #bbb;
            width: 20%;
        }
        hr.solid2 {
            position: relative;
            top: 105px;
            left: 1195px;
            border-top: 1px #bbb;
            width: 20%;
        }
		.Text {
            position: relative;
            font-size: xx-large;
            top: 10rem;
            text-align: center;
        }
</style>
