---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Matches">
	<p class="Text">Glytch Energy, Soardogg, 3Tech</p>

    <img src="/GLYTCHEnergy_Logo_Registered_Vertical.svg" alt="GLYTCH Energy" height="128" width="128" style="position: relative; top: 100px;">
    <img src="/3t.png" alt="3Tech" style="position: relative; top: 100px;">
    <img src="/SoardoggHorizontal-Red.png" alt="Soardogg" style="position: relative; top 100px;" width="1554,5" height="294,5">
</Layout>

<style>
		.Text {
        position: relative;
        font-size: xx-large;
        top: 10rem;
        text-align: center;
        }
</style>