---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Matches">
	<p class="Text">Glytch Energy, Soardogg, 3Tech</p>

    <img src="/GLYTCHEnergy_Logo_Registered_Vertical.ai" alt="GLYTCH Energy">
</Layout>

<style>
		.Text {
        position: relative;
        font-size: xx-large;
        top: 10rem;
        text-align: center;
        }
</style>