---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Teams">
	<p class="Text">CASH ROYALE</p>
    <img src="/Players/SamuelBassotto.png" alt="Samuel Bassotto">
</Layout>

<style>
		.Text {
        position: relative;
        font-size: xx-large;
        top: 10rem;
        text-align: center;
        }
</style>
