<header>
    <a href="#" class="logo"><img src="./Logo-White.png" alt="Logo" height="48" width="40"><span>Higher Gaming</span></a>

    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/Teams">Our Teams</a></li>
        <li><a href="/Matches">Partners</a></li>
        <li><a href="/About">About</a></li>
    </ul>
    
    <div class="main">
        <a href="#">Matches</a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>

<script type="text/javascript">
    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open');
    }
</script>

<style>
	

</style>