<header>
    <a href="/" class="logo"><img src="./Logo-White.png" alt="Logo" height="48" width="40"><span>Higher Gaming</span></a>

    <ul class="navbar">
        <li><a href="/About">About</a></li>
        <li><a href="/Teams">Teams</a></li>
        <li><a href="/Partners">Partners</a></li>
    </ul>
    
    <div class="main">
        <a href="/Application" class="button">Apply for Sponsorship</a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>

<script type="text/javascript">
    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open');
    }
</script>

<style>
	:root {
        --background: #d75617;
    }
    .button{
        background-color: var(--background);
        padding: 10px 16px;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        transition: color 100ms;
        margin: 0;
        border-style: none;
        line-height: 20px;
    }

</style>