<header>
    <a href="#" class="logo"><img src="./Logo-White.png" alt="Logo" height="48" width="40"><span>Higher Gaming</span></a>

    <ul class="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Teams</a></li>
        <li><a href="#">Matches</a></li>
        <li><a href="#">About</a></li>
    </ul>
    
    <div class="main">
        <a href="#">Language</a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>

<script type="text/javascript">
    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open');
    }
</script>

<style>
	header {
		position: fixed;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: transparent;
		padding: 28px 12%;
		transition: all .50s ease;
	}
	.logo {
		display: flex;
		align-items: center;
	}
	.logo img {
		color: var(--main-color);
		font-size: 28px;
		margin-right: 8px;
	}
	.logo span{
		color: var(--text-color);
		font-size: 1.7rem;
		font-weight: 600;
	}
	.navbar {
		display: flex;
	}
	.navbar a{
		color: var(--text-color);
		font-size: 1.1rem;
		font-weight: 500;
		padding: 5px 0;
		margin: 0px 30px;
		transition: all .50s ease;
	}
	.navbar a:hover {
		color: var(--main-color);
	}
	.main {
		display: flex;
		align-items: center;
	}
	.main a {
		margin-right: 25px;
		margin-left: 10px;
		color: var(--text-color);
		font-size: 1.1rem;
		font-weight: 500;
		transition: all .50s ease;
	}
	.user {
		display: flex;
		align-items: center;
	}
	.user i{
		color: var(--main-color);
		font-size: 28px;
		margin-right: 7px;
	}
	.main a:hover{
		color: var(--main-color);
	}
	#menu-icon {
		font-size: 35px;
		color: var(--text-color);
		cursor: pointer;
		z-index: 10001;
		display: none;
	}

	@media (max-width: 1280px) {
		header{
			padding: 14px 2%;
			transition: .2s;
		}
		.navbar a{
			padding: 5px 0;
			margin: 0px 20px;
		}
	}

	@media (max-width: 1090px) {
		#menu-icon{
			display: block;
		}
		.navbar{
			position: absolute;
			top: 100%;
			right: -100%;
			width: 270px;
			height: 19vh;
			background: var(--main-color);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			border-radius: 10px;
			transition: all .50s ease;
		}
		.navbar a{
            position: relative;
            top: 6px;
			display: block;
			margin: 12px 0;
			padding: 0px 25px;
			transition: all .50s ease;
		}
		.navbar a:hover {
			color: var(--text-color);
			transform: translateY(5px);
		}
		.navbar.open{
			right: 2%;
		}
	}

    @media (max-width: 720px) {
		.navbar a{
			padding: 5px 0;
			margin: 0px 20px;
		}
        #block {
            display: none;
        }
	}


</style>